{% extends 'base.html.twig' %}

{% block body %}
    <h1>Administration</h1>

    <a href="{{ path('joueurs') }}">Gérer les joueurs</a><br/>
    <a href="{{ path('categories') }}">Gérer les catégories</a><br/>

{% endblock %}
